<!DOCTYPE html>
<html>
<head>
    <title>Prediction Result</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1, h2 {
            color: #333;
        }
        p {
            font-size: 1.2em;
        }
        img {
            max-width: 500px;
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <center>
        <h1>Prediction Result</h1>
        <p><strong>Disease:</strong> {{ data[0] }}</p>
        <p><strong>Probability:</strong> {{ data[1] }}</p>
        <h2>Uploaded Image:</h2>
        <img src="{{ url_for('static', filename=data[3].split('static/')[1]) }}" alt="Uploaded Image">
        <h2>Prediction Probabilities:</h2>
        <img src="{{ url_for('static', filename=data[2].split('static/')[1]) }}" alt="Probability Plot">
        </center>
</body>
</html>
